@import "footer.scss";


.mainContent{
   display: flex;
    flex: 0 0 auto;
    
}

footer {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

nav {
    display: flex;
    flex: 0 0 auto;
   
}

body{
    min-height: calc(100vh - 230px);
}
