@import "footer.scss";


.mainContent{
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: 1100px;
}

footer{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}



